@model IEnumerable<LuckySpin.Models.Spin> 
@{
    Layout = "_Layout";
    int row = 0;
    string className;
}
<h1>Out of Luck</h1>
<table>
    <thead><tr><th>Spin #</th><th>Result</th></tr></thead>
    <tbody>
        <!-- TODO: Use the ViewModel-->
        @foreach( LuckySpin.Models.Spin spin in @Model ){
            row += 1;
            className = (spin.IsWinning) ? "winner" : "";
            <tr class="@className">
                <td>@row</td> <td>@spin.IsWinning</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Spinner/Index">Play Again</a>